.nav{
    margin:100px auto;
    width:700px;
    height:36px;
    background:#fc5ee7;
    position:relative;
    text-align:center;
    line-height:36px;
    font-size:12px;
}
body{
    background: url("zyl.jpg");
    background-size: 100%;
}
a{
    text-decoration: none;
    color: #eee;
}
li{
    list-style: none;
    float:left;
}
.main>li{
    width:150px;
    color:#eee;
    font-size:14px;
}
.main span{
    display:inline-block;
    width:7px;
    height:7px;
    background:url(../images/down-icon.png) no-repeat;
    margin-left:18px;
}
.box_info{
    width: 110px;
    border: 1px solid #fc5ee7;
    display:none;
    position:absolute;
    color:#fc5ee7;
    padding:0;
    margin-left:20px;
}
.box_info li{
    color: #fc5ee7;
    cursor: pointer;
    font-size:13px;
    width:100%;
}
.box_info li:hover{
    background: #fc5ee7;
    color: #fff;
}
/*图标向上旋转*/
.hover-up{
    transition-duration: .5s;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}
/*图标向下旋转*/
.hover-down{
    transition-duration: .5s;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
}
